#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* own CSS start here  */

.page-container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.hero-banner img {
  max-width: 100%;
  height: auto;
}

.home-title {
  font-size: 36px;
  margin-top: 20px;
}

.highlight-color {
  color: #ff6f61;
}

.italic {
  font-style: italic;
}

/* Product Section */
.product-section {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.product-woman {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.product-men {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.product-carousel {
  width: 48%; /* Adjust as needed */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-display{
  display: flex;
}

/* .product-display{
  display: flex;
  flex-direction: row;
} */

body {
  background-color: antiquewhite;
}

/* Footer */
/* Define your Footer styles here */





